@media (max-width:720px){
.a{background-color:black;}
.a1{position:absolute;top:0px;left:30px;color:blue;font-size:30px;}
.a2{position:absolute;left:0px;color:green;top:50px;}   
.a3{position:absolute;left:0px;color:brown;top:1470px;}
.a4{position:absolute;left:0px;color:brown;top:1570px;}
.a5{position:absolute;left:0px;color:green;top:1700px;}
.a6{position:absolute;left:0px;color:brown;top:2450px;}
.a7{position:absolute;left:0px;color:green;top:2550px;}
.a8{position:absolute;left:40px;background-color:yellow;width:200px;height:50px;font-size:30px;border-radius:30px;top:3100px;}
}
