@media (max-width:720px){
.a{background-color:black;}
.a1{position:absolute;top:0px;left:30px;color:blue;font-size:30px;}
.a2{position:absolute;color:green;left:0px;top:40px;}
.a3{position:absolute;color:brown;left:0px;top:1400px;}
.a4{position:absolute;color:green;left:0px;top:1500px;}
.a5{position:absolute;color:brown;left:0px;top:1970px;}
.a6{position:absolute;color:brown;left:0px;top:2050px;}
.a7{position:absolute;color:brown;left:0px;top:2120px;}
.a8{position:absolute;color:green;left:0px;top:2300px;}
.a9{position:absolute;background-color:yellow;width:200px;height:50px;font-size:30px;top:3400px;left:30px;border-radius:30px;}
}