@media (max-width:720px){
.a{background-color:black;}
.a1{position:absolute;top:0px;left:40px;color:blue;font-size:30px;}
.a2{position:absolute;left:0px;color:green;top:40px;}
.a3{position:absolute;left:0px;color:brown;top:400px;}
.a4{position:absolute;left:0px;color:green;top:600px;}
.a5{position:absolute;left:0px;color:brown;top:1700px;}
.a6{position:absolute;left:0px;color:green;top:1850px;}
.a7{position:absolute;top:2800px;left:40px;font-size:30px;background-color:yellow;border-radius:30px;width:200px;height:50px;}
}