@media (max-width:720px){
.a{background-color:black;}
.a1{position:absolute;top:70px;}
.a2{width:350px;height:200px;}
.a3{position:absolute;top:0px;color:blue;font-size:40px;left:30px;}
.a4{position:absolute;top:300px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a5{position:absolute;top:400px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a6{position:absolute;top:500px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a7{position:absolute;top:600px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a8{position:absolute;top:700px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a9{position:absolute;top:800px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a10{position:absolute;top:900px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a11{position:absolute;top:1000px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px;}
.a12{position:absolute;top:1100px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px}
.a13{position:absolute;top:1200px;left:0px;font-size:40px;background-color:yellow;border-radius:30px;width:350px;height:50px}

}